<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/frontend2/styles/regiones/regiones.css">
    <script type="module" src="./regiones.js"></script>
</head>

<body>
    <section class="header">
        <section class="headerLogo">
            LOGO
        </section>
        <section class="headerNav">
            <ul class="nav">
                <li>
                    <a href="/frontend2/views/contactos/contactos.html" class="link">Contatos</a>
                </li>
                <li>
                    <a href="/frontend2/views/companias/companias.html" class="link">Compañias</a>
                </li>
                <li id="header_usuarios">
                    <a href="/frontend2/views/crear_usuario/crear_usuario.html" class="link">Usuarios</a>
                </li>
                <li>
                    <a href="/frontend2/views/regiones/regiones.html" class="link">Region/Ciudad</a>
                </li>
            </ul>
        </section>
    </section>
    <section id="content">
        <button id="add-region" class="btn-add-region">Agregar region</button>
        <section id="regions">
        </section>
    </section>
    <section id="add-form" class="add-form">
        <div id="add-form-content" class="form">
        </div>
    </section>
</body>

</html>

