.header .headerNav{
    width: 25%;
    margin: auto 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

}

.header .headerNav .link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    height: 62px;
}

.header .headerNav .link:hover{
    border-bottom: 2px solid white;
}
